{% extends 'main/layout.html' %}

{% block title %}
    About us
{% endblock %}

{% block header %}
    <a href="{% url 'home' %}">Back</a>
    <h1>About us</h1>
{% endblock %}

{% block main %}
<div class="main_content-center">
    <h1>About us</h1>

    <p>
        {{ text }}
        <br>
        {% for btn in buttons %}
            <div class="buttons">
                <!-- | works as a Jinja filter or map() function -->
                <button class="btn {{ buttonClass }}">{{ btn|upper }}</button>
            </div>
        {% endfor %}
    </p>
</div>
{% endblock %}