<!-- extends allows us to extend some Jinja teplates -->
{% extends 'main/layout.html' %}

{% block title %}
    Django
{% endblock %}

{% block main %}
<div class="main_content-center">
    <h1>Main page of application.</h1>
    <div class="buttons">
        {% for btn in buttons %}
            {% if btn != 'Button-2' %}
                <button class="btn {{ buttonClass }}">
                    <!-- filter working as a map() function -->
                    {% filter upper %}
                        {{ btn }}
                    {% endfilter %}
                </button>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
