{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'news/styles/add.css' %}">
{% endblock %}

{% block main %}
    <div class="news_add">
        <h1>{% if article %} Update {% else %} Add new {% endif %} state</h1>

        <form method="post" class="form">
            <!-- csrf_token it is a security mechanism used to protect web applications. -->
            {% csrf_token %}
            
            {{form.title}}
            {{form.desctiption}}
            {{form.text}}
            {{form.date}}

            <span class="form_error">{{ error }}</span>
            <button type="submit" class="btn btn-info">
                {% if article %}
                    Update
                {% else %}
                    Post
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}