{% load static %}

<div class="news_card">
    <h3 class="news_card-title">
        {{ n.title }}
    </h3>

    <h6 class="news_card-subtitle">
        {{ n.desctiption }}
    </h6>

    <p class="news_card-state">{{ n.text }}</p>

    <div class="news_card-date">{{ n.date }}</div>
    <br>
    <a href="{% url 'news-details' n.id %}">
        <button class="btn btn-info">Read more</button>
    </a>
    <a href="{% url 'news-update' n.id %}">
        <button class="btn btn-warning">Update</button>
    </a>
    <a href="{% url 'news-delete' n.id %}">
        <button class="btn btn-danger">Delete</button>
    </a>
</div>