.news_add {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form_item {
    background-color: #19152c !important;
    color: #fff !important;

    &::placeholder {
        color:#fff
    }
}

.form_error {
    color: yellow;
}