.news_title {
  text-align: center;
}

.news_head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_list {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.news_item {
  width: 100%;
}

.add_button {
  color: #fff !important;
  position: absolute;
  right: 20px;
}